weather () {
    curl "https://wttr.in/${1}"
}

change-terminal-font () {
    [ -z "${1}" ] || [ -z "${2}" ] && echo "Usage: change-terminal-font FROM_SIZE TO_SIZE"

    local from="${1}"
    local to="${2}"

    local windows_user=poiri

    # shellcheck disable=SC2016
    windows_user="$(powershell.exe '$env:UserName' | sed -e 's/\r//g')"

    local terminal_config="/c/Users/${windows_user}/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json"

    perl -i -pe "s/\"size\": ${from}/\"size\": ${to}/g" "${terminal_config}"
}

alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

alias diff="diff --color -u"

alias gcl="git diff --name-only --diff-filter=U"

# This is specific to WSL 2. If the WSL 2 VM goes rogue and decides not to free
# up memory, this command will free your memory after about 20-30 seconds.
#   Details: https://github.com/microsoft/WSL/issues/4166#issuecomment-628493643
alias drop_cache="sudo sh -c \"echo 3 >'/proc/sys/vm/drop_caches' && swapoff -a && swapon -a && printf '\n%s\n' 'Ram-cache and Swap Cleared'\""